/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ /*document elements*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables */
:root {  /*main colors*/
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #f75f1d;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}

/* header css >> */
header {
    /* border: 1px solid burlywood; */
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 30px;
    /* right: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color); /* #6b4f3d; */
    box-shadow: 0 8px 11px rgb(14 55 54/ 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

header > .logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
header > .logo > .bx{
    font-size: 24px;
    color: var(--orange-color);
}

/* menu icon:: humburger icon */
header > #menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

header > .navbar{
    display: flex;
    column-gap: 0.5rem;
}

header > .navbar >li > a{
    /* border: 1px solid #1a2428; */
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    
    /* transition: 1ms transitionin to hover effect */
}
header > .navbar >li > a:hover,
header > .navbar .active{  /*toggle active when clicked*/
    transition: background 1s;
    background-color: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
}

header > .profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}
header > .profile > img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
header > .profile > span {
    font-size: 13px;
    font-weight: 500;
}

/* section css */
section{
    /* border: solid 1px brown; */
    padding: 4.5rem 0 1.5rem
}

.swiper-slide.container{
    background-color: #f75f1d;
    display: flex;
    align-items: center;
    /* border: solid 1px brown; */
    position: relative;
    width: 100%;
    min-height: 640px;
    align-items: center;

    /* background: url(../../images/main/profile.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;
}
.swiper-slide.container .home-text{
    border: solid 1px rgb(240, 22, 22);
    padding:0 150px;
}

.swiper-slide.container img{
    display: inline-block;
    border: solid 1px rgb(231, 231, 231);
    width: 400px;
    position: absolute;
    bottom: 50px;   /*animation transition*/
    right: 200px;
}

.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}

.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn{
    border: 1px solid seashell;
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;  
}
.btn .bx{
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}
.btn:hover{
    background: var(--light-orange-color);
    transition: 0.2s ease;
}

.swiper-button-next {
    background: url(../../images/main/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev {
    background: url(../../images/main/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 20px;
}
.swiper-button-prev::after{
    display: none;
}